*{
    margin:0px;
    padding:0px;
}
body{
    margin:0;
    font-family:lobster;
}

#theNav {
    background-color: cadetblue;
    overflow: hidden;
}

#theNav a
{
color: white;
float: right;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

#theNav a:hover
{
    background-color:black;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008080;
    overflow-x: hidden;
    padding-top: 0px;
}

    /* Style the sidenav links  */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 17px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        color: #f1f1f1;
    }



#img1{
   width:20px;
   height:20px;
}

