@{ 

}
    
    <br />
    <br />
    <div class="card col-md-3 offset-3 width:120px">
        <h1>Add Faculties </h1>
        <form class="form-inline text-center">
            <label for="Firstname">FacultyName</label>
            <input class="form-control" placeholder="Enter FacultyName" id="FacultyName">
            <br />
            <label for="Firstname">TradeName</label>
            <input class="form-control" placeholder="Enter TradeName" id="TradeName">
            <br />
            <label for="">RegisteredName</label>
            <input class="form-control" placeholder="Enter RegisteredName" id="RegisteredName">
            <br />
            <label for="">OfficeAddress</label>
            <input class="form-control" placeholder="Enter Address" id="OfficeAddress">

            <br />
            <br/>
            <button type="submit" class="btn btn-info">Add Faculty</button>
        </form>
    </div>
