@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="LoginBox">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5tGoMe0TO8Z4nSXJn-iUFuII1c2RyJM-ZeA&usqp=CAU" class="LoginIcon">

    <h1>Login Here</h1>

    <form>
        <label class="Username">Username</label><br/>

        <input type="text" name="" placeholder="Enter Username"><br/>

        <label>Password</label><br/><br/>

        <input type="password" name="" placeholder="Enter Password"><br/><br/>

        <input type="submit" name="" value="Login"><br><br/>

        <a href="#">Forgot your password?</a><br/><br/>

        <a>Don't have an account?</a>
    </form>



</div>





  

