@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<div class="card col-md-3 offset-3 width:120px">
    <h1>Add Programme </h1>
    <form class="form-inline text-center">
        <label for="ProgrammeName">ProgrammeName</label>
        <input class="form-control" placeholder="Enter ProgrammeName" id="ProgrammeName">
        <br />
        <label for="Value">Value</label>
        <input class="form-control" placeholder="Enter Value" id="Value">
        <br /><br />
        <label for="StartDate">StartDate</label>
        <input class="form-control" type="date" id="StartDate">
        <br />
        <label for="EndDate">EndDate</label>
        <input class="form-control" type="date" id="EndDate">
        <br/>
        <label for="Funder">Funder</label>
        <input class="form-control" placeholder="Enter Funder" id="Funder">
        <br/>

        <label for="No of Aplications">No of Applications</label>
        <input class="form-control" placeholder="Enter no of applications" id="No of Applications">
        <br/>

        <label for="Purpose">Purpose</label>
        <input class="form-control" placeholder="Enter purpose" id="Purpose">

        <br/>
        <label for="">Active</label>
        <input type="checkbox" class="form-control" id="active"><br/>
        <br/>
        <br />
        <label for="">Partnership Agreement</label><br/><br/>
        <input class="form-control" placeholder="Enter partnership agreement" id="PartnershipAgreement">
        <br/>

        <br />
        <br />
        <button type="submit" class="btn btn-info">Add Programme</button>

    </form>
</div>
