<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataManagementSystem</title>
    <link href="~/css/css/all.min.css" rel="stylesheet" />
  
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id="theNav">
        <a asp-area="" asp-controller="Home" asp-action="Home">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
    </div>
    <header>
        <div class="sidenav">
            <div id=" img1">
                <img src="~/img/tshimologong_logo_white.gif" style="width:200px"/>
            </div>
            <br />
            <br />
            <a asp-area="" asp-controller="App" asp-action="Faculties"><i class="fas fa-layer-group"> FACULTIES</i></a>
            <a asp-area="" asp-controller="App" asp-action="Programme"><i class="far fa-copy"> PROGRAMME</i> </a>
            <a asp-area="" asp-controller="App" asp-action="StartUps"><i class="far fa-star"> START-UPS</i></a>
            <a asp-area="" asp-controller="App" asp-action="Beneficiaries"><i class="fas fa-person-booth"> BENEFICIARIES</i></a>
            <a asp-area="" asp-controller="App" asp-action="Reports"><i class="far fa-file-word"></i> REPORTS</a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
